html, body {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

h1{
    margin: 0;
    font-size: 12px;
}

header{
    display: flex;
    margin: 15px auto 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 107px;
}

.title{
    font-family: 'Caesar Dressing', cursive;
    background-color: black;
    border: 2px solid #ffe600;
    padding: 3px 7px;
    color: whitesmoke;
    position: absolute;
    top: 35px
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #f80000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #ffe600;
}

.logo img{
    width: 50px;
    margin-bottom: 15px;
    margin-right: 10px;
}


i{
    color: #ffe600;
    color: whitesmoke;
    font-size: 18px;
    cursor: pointer;  
    padding-right: 15px; 
}

i:hover{
    transform: scale(1.2)
}

.gallery-container{
    width: 250px;
    margin: 10px auto;
}

.gallery-container img{
    width: 100%;
}

.img-container{
    border: 3px solid #ffe600;
    border-radius: 5px;
    margin-top: 10px; 
}

.social-icons-container{
    padding: 5px;
    margin-left: 10px;
}