@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.container {
  height: 100vh;
  /* border: 1px dotted red; */
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.navbar ul {
  list-style-type: none;
  display: flex;

  /* flex-direction: column; */
}

.navbar ul li {
  margin-left: 40px;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.2em;
  /* text-shadow: 1px 1px 3px #fff; */
  cursor: pointer;
}

.navbar ul li a:hover,
.navbar ul li a:active {
  border-bottom: 1px solid #fff;
}

.logo {
  font-size: 1.9em;
  font-family: "Lobster", cursive;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.main-content {
  /* height: 600px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.main-heading {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.1em;
  text-shadow: 1px 1px 0px #fff;
}

.main-paragraph {
  font-size: 18px;
  font-weight: 200;
  color: whitesmoke;
  margin-bottom: 20px;
}

.explore-btn {
  border: 2px solid #fff;
  padding: 10px 60px;
  font-size: 18px;
  background: none;
  font-weight: 200;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.explore-btn:hover {
  box-shadow: 0px 0 5px #fff;
}

footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

footer i {
  margin-left: 30px;
  font-size: 25px;
  cursor: pointer;
}

#modal {
  /* border: 1px solid red; */
  width: 600px;
  height: 500px;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background: rgba(37, 139, 172, 1);
  /* background-color: rgb(0, 0, 0); Fallback color */
  /* background-color: rgba(0, 0, 0, 0.4); Black w/opacity/see-through */
  backdrop-filter: blur(3px);
  border-radius: 5px;
  position: absolute;
}

.modal-heading {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  /* color: #111; */
  text-transform: uppercase;
}

.model-content {
  font-weight: 300;
  margin-bottom: 20px;
  /* color: #111; */
}

.modal-btn {
  border: none;
  padding: 10px 20px;
  color: rgba(37, 139, 172, 1);
  background: #fff;
  cursor: pointer;
  margin-right: 20px;
}

.close-btn {
  position: fixed;
  top: 0px;
  right: 0px;
  cursor: pointer;
  width: 30px;
}

.modal-inner {
  width: 290px;
  margin: 0 auto;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input input {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

#center-text {
  font-weight: 900;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.loading {
  margin-bottom: 50px;
}

#hacked-text {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
}

.modal-choice-btns {
  margin-top: 10px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
}
.modal-btns-reverse {
  flex-direction: row-reverse;
}

/* modal buttons */

.close-modal-btn-container {
  text-align: right;
  margin: 9px;
}

.modal-close-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke;
}

.modal-close-btn:hover,
.modal-close-btn:active {
  color: red;
  cursor: pointer;
}

.modal-close-btn:disabled {
  color: whitesmoke;
  opacity: 0.2;
  cursor: not-allowed;
}
