html,
body {
  height: 100%;
  margin: 0;
}

body {
  /* by default font size of the parent element is 16px if not set */
  /* font-size: 20px; */
  color: #03045e;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(135deg, #90e0ef 10%, #00b4d8 100%);
}

.container {
  width: 680px;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
}

header {
  padding-top: 30px;
  margin-bottom: 30px;
}

h1 {
  font-size: 3.25em;
  font-family: "Fugaz One", cursive;
  margin: 0 0 8px;
}

h2 {
  color: #0077b6;
  margin: 0;
}

h3 {
  font-size: 1.5em; /* 24 / 16 = 1.5 */
  width: 80%;
  border-bottom: dotted 1px;
  padding-bottom: 12px;
  margin: 0 auto 16px;
}

/* 
   Challenge: 
     - Convert the font-size value of .total-wk from px to em
*/

.total-wk {
  font-size: 1.125em; /* 18 / 16 = 1.125  */
  letter-spacing: -1px;
}

.week {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  gap: 12px;
}

.day {
  color: #355070;
  text-align: center;
  width: 20%;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 4px #00b4d8;
}

.distance,
.total-wk {
  font-weight: bold;
}
