@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

body {
  background-image: url("./counter.avif");
  background-position: center;
  background-size: cover;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

h1 {
  margin-top: 100px;
  margin-bottom: 10px;
  text-shadow: 0px 0px 2px white;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#increment-btn {
  background: darkred;
}
#decrement-btn {
  background: darkgoldenrod;
}

#save-btn {
  background: darkgreen;
}

#reset-btn {
  background: black;
}

button {
  cursor: pointer;
}

p {
  font-weight: 300;
  font-size: 1.3em;
}
